body {
    background-color: rgb(239, 233, 219);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: rgb(210, 4, 45);
}
a:hover {
    color: rgb(172, 1, 26); 
  }
p {
    color: rgb(54, 37, 0);
}
.bio{
    margin-right: 250px;
    margin-left: 250px;
}
t{
    color: rgb(127, 1, 26);
    font-size: 40px;
}
span{
    color: rgb(54, 37, 0);
}
img{
    padding: 20px;
}
